# the pic.php page will display a not found error
ErrorDocument 404 /pic.php?id=xx

# handle custom URLs
RewriteEngine On
RewriteBase /
RewriteRule ^pic/(.+)$ pic.php?id=$1 [L,QSA]
RewriteRule ^upload$ upload.php [L,QSA]
RewriteRule ^about$ about.php [L,QSA]
