<!DOCTYPE html>
<html lang="en">
<?php include 'head.html'?>
<body>
<?php include 'navbar.html'?>
<div class="container">

<div class="page-header">
<h1><a href="/">Pictr</a> <small>what's this all about, eh?</small></h1>
</div>

<div class="upload">
<p class="lead">Pictr is anonymous, ephemeral picture sharing.</p>

<p>Every picture uploaded has an expiration time; you can choose the value,
ranging from one minute to three hours. At the end of that time, the
picture expires and disappears from the Internet.</p>

<p>There are no tracking cookies, no logins, and nothing to connect you
with the picture. There are controls, however; if people don't like your
picture, it can be deleted more rapidly than the expiration time.</p>

<p>Specifically, clicking the <em>Hate</em> button on a pictures cuts
the expiration time remaining in half. Clicking <em>Love</em>,
however, increases the expiration time. If people really, really love
your picture, it will stay on the site longer!</p>

<p>Pictr is still a work in progress. I hope you enjoy it, and feel free
to share it with your friends. If you'd like to contribute, click on
the Github link at the bottom of the page and fork the repo&mdash;pull
requests are accepted, and the source code is released under the
Apache 2.0 license. If you find problems or would like to leave
feedback, please file a Github issue.</p>

<p>Sincerely yours,<br>
<a href="http://glenc.io">Glen Campbell</a></p>

<p><img src="http://c83ae45c9c662e90b259-b8ecda92d58ad5ac33fefef0f67b0f7c.r32.cf1.rackcdn.com/IMG_0065.jpg" alt="a picture of me"></p>
</div>

<?php include 'footer.html'?>
</div>
</body>
</html>
