<head>
<title><?php if (empty($TITLE)) {?>Pictr - anonymous, ephemeral photo-sharing<?php } else echo $TITLE?></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<?php if ($REFRESH) {?>
<meta http-equiv="refresh" content="<?php echo $REFRESH?>">
<?php } ?>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<style>
body {
	padding-top: 70px;
}
h1, h1 a, h1 a:visited, h1 a:hover {
	color: black;
	text-decoration: none;
}
h1 a {
	font-size: 52pt;
	letter-spacing: -4pt;
}
.pic {
	margin-bottom: 1em;
}
.upload {
	max-width: 50em;
}
.fineprint {
	font-size: smaller;
	line-height: 1.5em;
	padding: 1em;
	background: #ddd;
}
img.image-thumbnail {
	margin-bottom: 1em;
}
</style>
</head>
