<!DOCTYPE html>
<html lang="en">
<?php include 'head.html'?>
<body>
<?php include 'navbar.html'?>

<div class="container">
<div class="page-header">
<h1><a href="#">Pictr</a> <small>anonymous, ephemeral picture sharing</small></h1>
</div>

<div class="alert alert-info alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
Pictr is in alpha. This means that the site may occasionally be unstable,
and you might even see debugging or error output from time to time. Please
bear with us as we work to make it better.
</div>

<?php
if (empty($PICTURES)) {
?>
	<div class="jumbotron">
	<div class="container">
	<h1>Oh Noes!</h1>
	<hr>
	<p class="lead">There are no pictures on the site right now!</p>
	<p>Why don't you <a href="/upload">upload a new picture</a>?</p>
	</div>
	</div>
<?php } else { ?>
	<ol class="list-inline">
	<?php
	foreach($PICTURES as $PIC) {
	?>
	<li><a href="/pic/<?php echo $PIC->name?>"><img src="<?php echo $PIC->thumbnail?>" alt="" class="image-thumbnail" width="<?php echo $CONFIG->thumb_size?>" <?php if ($PIC->type != 'image/gif') echo 'height="'.$CONFIG->thumb_size.'"'?> title="<?php echo $PIC->name?>"></a></li>
	<?php } ?>
	</ol>
<?php } ?>
<?php include 'footer.html'?>
</div>
</body>
</html>
