<!DOCTYPE html>
<html lang="en">
<?php include 'head.html'?>
<body>
<?php include 'navbar.html'?>

<div class="container">
<div class="page-header">
<h1><a href="#">Pictr</a> <small>anonymous, ephemeral picture sharing</small></h1>
</div>

<div class="well">
<p>
Pictr lets you share pictures with the world, but only for a limited time.
After a selected interval, they will simply disappear. If someone
loves the picture, however, it might stay around longer. Likewise, if
someone hates the picture, its time remaining will be shortened.
If you still have questions, check the <a href="/about#faq">FAQ</a>.
</p>
<p><em>Pictr is in alpha, and it might be unstable from time to time.
You can report problems by creating an issue in our
<a href="https://github.com/gecampbell/pictr.io">Github repository</a>.</em>
</p>
<a href="/" class="btn btn-primary">Refresh</a>
</div>


<?php
if (empty($PICTURES)) {
?>

	<div class="jumbotron">
	<div class="container">
	<h1>Oh Noes!</h1>
	<hr>
	<p class="lead">There are no pictures on the site right now!</p>
	<p>Why don't you <a href="/upload">upload a new picture</a>?</p>
	</div>
	</div>

<?php } else { ?>

	<ol class="list-inline">
	<?php
	foreach($PICTURES as $PIC) {
	?>
	<li><a href="/pic/<?php echo $PIC->name?>"><img src="<?php echo $PIC->thumbnail?>" alt="" class="image-thumbnail" width="<?php echo $CONFIG->thumb_size?>" title="<?php echo $PIC->name?>"></a></li>
	<?php } ?>
	</ol>

<?php } ?>
<?php include 'footer.html'?>
</div>
</body>
</html>
