<!DOCTYPE html>
<html>
<?php include 'head.html'?>
<body>
<?php if (!$PIC) { ?>
<h1>Pictr NOT FOUND OMG</h1>
<p class="error">That picture could not be found. It's quite likely that
it has expired. Why don't you <a href="/upload">upload a new one</a>?
</p>
<?php } else { ?>
<h1><a href="/">Pictr</a></h1>
<p id="menu"><a href="/upload">Upload a picture</a></p>
<div class="pic">
<img src="<?php echo $PIC->url?>" alt="<?php echo $PIC->name?>" class="img-responsive">
<form action="<?php print($_SERVER['PHP_SELF']).'?id='.$_GET['id'];?>" method="POST" enctype="multipart/form-data">
<button type="submit" value="Like" name="like">Like</button>
<button type="submit" value="Offensive" name="bad">Offensive</button>
</form>
</div>
<?php } ?>
<?php include 'footer.html'?>
</body>
</html>
