<!DOCTYPE html>
<html lang="en">
<?php include 'head.html'?>
<body>
<?php include 'navbar.html'?>
<div class="container">
<?php if (!$PIC) { ?>
	<div class="jumbotron">
	<div class="container">
	<h1><a href="/">Pictr</a> <small>not found OMG</small></h1>
	<hr>
	<p class="lead">That page or picture you requested
	could not be found. It's quite likely that
	it has expired.</p>
	<p>Why don't you <a href="/upload">upload a new picture</a>?</p>
	<p><a class="btn btn-primary btn-lg" href="/">Take me home</a></p>
	</div>
	</div>
<?php } else { ?>
<div class="page-header">
<h1><a href="/">Pictr</a></h1>
</div>
<div class="pic">

<?php if (isset($LOVED)&&$LOVED) { ?>
<p class="alert alert-info">Thank you for your feedback.
The expiration time on this picture has been increased.</p>
<?php } ?>

<?php if (isset($HATED)&&$HATED) { ?>
<p class="alert alert-danger">Thank you for your feedback.
The expiration time on this picture has been reduced.</p>
<?php } ?>

<p><img src="<?php echo $PIC->url?>" alt="<?php echo $PIC->name?>" class="img-responsive" title="Picture expires in <?php
	echo number_format($PIC->expiration - time());
?> seconds"></p>

<form action="<?php print($_SERVER['REQUEST_URI']);?>" method="POST" enctype="multipart/form-data" role="form">
<div class="form-group">
<button type="submit" value="Love" name="Love" class="btn btn-primary">Love</button>
<button type="submit" value="Hate" name="Hate" class="btn btn-danger">Hate</button>
</div>
</form>
<?php } ?>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large">Tweet</a></p>

<div class="panel panel-default">
  <div class="panel-body">
  	This picture will expire in
  	<?php echo Pictr\time_seconds($PIC->expiration - time());?>.
  </div>
</div>

</div>

<?php include 'footer.html'?>
</div>
</body>
</html>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
