<!DOCTYPE html>
<html>
<?php include 'head.html'?>
<body>
	<h1><a href="/">Pictr</a> Upload</h1>
	<?php
	if (!empty($ERROR)) {
		$msg = implode("</li>\n<li>", $ERROR);
		?>
<ul class="error">
<li><?php echo $msg?></li>
</ul>
	<?php } ?>
<div class="upload">
	<p>
	To share a picture, select the file using the button below and
	then press <em>Upload the picture</em>.
	You can choose the duration that your photo will exist (by default,
	this is five minutes). At the end of that time, your photo
	will simply disappear.
	</p>
	<form action="<?php echo $_SERVER['PHP_SELF'];?>" method="POST" enctype="multipart/form-data">
		<input type="file" name="<?php echo $filename;?>">
		<select name="expiration">
		<?php
			foreach($CONFIG->expirations() as $value => $title) {
				if ($value == 300)
					$def = ' selected="selected"';
				else
					$def = '';
				print("\t<option value=\"$value\"$def>$title</option>\n");
			}
		?>
		</select>
		<input type="hidden" name="signature" value="<?php echo $signature;?>">
		<br>
		<button type="submit">Upload the picture</button>
	</form>
	<p class="fineprint">
	By uploading the picture, you are certifying that you have the right
	to do so (please don't steal someone else's pictures). You are giving
	this website permission to store and display that picture. And you are
	granting this website permission to sue you for a bazillion dollars
	if you are found to be in breach of any of these terms of service. Ha
	ha, just kidding&mdash;we won't sue you for more than a million or two.
	</p>
</div>
<?php include 'footer.html'?>
</body>
</html>
