<!DOCTYPE html>
<html lang="en">
<?php include 'head.html'?>
<body>
<?php include 'navbar.html'?>
<div class="container">
	<div class="page-header">
	<h1><a href="/">Pictr</a> <small>upload a picture</small></h1>
	</div>
	<?php
	if (!empty($ERROR)) {
		$msg = implode("</li>\n<li>", $ERROR);
		?>
<ul class="error">
<li><?php echo $msg?></li>
</ul>
	<?php } ?>
<div class="upload">
	<p>
	To share a picture, select the file using the button below and
	then press <em>Upload the picture</em>.
	You can choose the duration that your photo will exist (by default,
	this is five minutes). At the end of that time, your photo
	will simply disappear.
	</p>
	<form action="<?php echo $_SERVER['PHP_SELF'];?>" method="POST" enctype="multipart/form-data" role="form">
		<div class="form-group">

		<label for="f1">Select file:</label>
		<input type="file" name="<?php echo $filename;?>" id="f1">
		<p class="help-block">
		Choose a file from your local computer to upload.
		</p>

		<label for="s1">Choose the expiration time:</label>
		<select name="expiration" id="s1" class="form-control">
		<?php
			foreach($CONFIG->expirations() as $value => $title) {
				if ($value == $CONFIG->default)
					$def = ' selected="selected"';
				else
					$def = '';
				print("\t<option value=\"$value\"$def>$title</option>\n");
			}
		?>
		</select>
		<p class="help-block">
		Select an expiration time period. At the end of this time,
		your picture will disappear from the Internets.
		</p>
		</div>
		<input type="hidden" name="signature" value="<?php echo $signature;?>">
		<div class="form-group">
		<button type="submit" class="btn btn-primary">Upload the picture</button>
		</div>
	</form>
	<p class="fineprint">
	By uploading the picture, you are certifying that you have the right
	to do so (please don't steal someone else's pictures). You are giving
	this website permission to store and display that picture. And you are
	granting this website permission to sue you for a bazillion dollars
	if you are found to be in breach of any of these terms of service. Ha
	ha, just kidding&mdash;we won't sue you for more than a million or two.
	</p>
</div>
<?php include 'footer.html'?>
</div>
</body>
</html>
